---
const today = new Date();
---

<footer>
  <p>&copy; {today.getFullYear()} Xinyuan's Notes. All rights reserved.</p>
</footer>

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
</style>
